<!doctype html>
<head>
<title>Radio control</title>
</head>
<body>
{% if title %}
	<h1>{{ title }}</h1>
{% endif %}

<form method='POST' action='/'>
    <select name='station'>
        {% for i in range(stations | length) %}
          <option value="{{ i }}" {% if i == currentStationIndex %}selected{% endif %}>{{ stations[i].name }}</option>
        {% endfor %}
    </select>

    <input type="submit" name="submit" value="Play" />
	<input type="submit" name="submit" value="Stop" />
</form>
</body>
