<!doctype html>
<head>
    <title>Radio control</title>

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-rfs.css') }}" />

    {% if darkMode %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}" />
    {% endif %}
</head>
<body>
    <div class="m-4">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>{{ title }}</h1>
                </div>

                <div class="col-4 text-right">
                    {% if darkMode %}
                    <a href="enable-light-mode" title="Light mode">
                        <img src="static/icons/light.png" />
                    </a>
                    {% else %}
                    <a href="enable-dark-mode" title="Dark mode">
                        <img src="static/icons/dark.png" />
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <select name="stationIndex" class="form-control">
                        {% for i in range(stations | length) %}
                          <option value="{{ i }}" {% if i == currentStationIndex %}selected{% endif %}>{{ stations[i].name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <button class="btn btn-success w-100" id="playButton">Play</button>
                </div>

                <div class="col-6">
                    <button class="btn btn-warning w-100 actionButton" data-action="stop">Stop</button>
                </div>
            </div>

            {% if showVolumeControls %}
            <div class="row mt-2">
                <div class="col-6">
                    <button class="btn btn-info w-100 actionButton" data-action="volume_decrease">Vol -</button>
                </div>

                <div class="col-6">
                    <button class="btn btn-info w-100 actionButton" data-action="volume_increase">Vol +</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <button class="btn btn-info w-100 actionButton" data-action="volume_decrease_fast">Vol --</button>
                </div>

                <div class="col-6">
                    <button class="btn btn-info w-100 actionButton" data-action="volume_increase_fast">Vol ++</button>
                </div>
            </div>
            {% endif %}
        </div>

        {% if showBluetoothControls %}
        <div class="w-100 mt-4 text-center">
            <button class="btn btn-light w-50 actionButton" data-action="pair_bt">Pair Bluetooth Speaker</button>
        </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        $('#playButton').click(function() {
            $.ajax({
              type: "POST",
              url: '/',
              data: {
                'action': 'play',
                'stationIndex': $('select[name="stationIndex"]').val()
              }
            });
        });

        $(document).on('click', '.actionButton', function(ev) {
            $.ajax({
              type: "POST",
              url: '/',
              data: {
                'action': $(ev.target).data('action')
              }
            });
        });
    </script>
</body>
